@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  min-width: 1250px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-link {
  display: block;
  padding: 10px 5px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}


/* HEADER */
.page-header {
  padding: 0 60px 23px;
  background: #ffe17f;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 21px, #ffe17f 21px);
}

.navigation-logo {
  display: block;
  margin-bottom: 30px;
}

.navigation-user-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-left {
  max-width: 660px;
 }

.navigation-user-right {
 max-width: 310px;
}

.navigation-user-right .navigation-user-item {
  margin-left: 61px;
}

.navigation-search {
  display: flex;
}

.navigation-search-field {
  min-height: 40px;
  width: 359px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #ffe17f;
}

.navigation-search-field:active,
.navigation-search-field:hover,
.navigation-search-field:focus {
  outline: none;
}

.navigation-search-field[placeholder] {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-search-field[placeholder]:hover,
.navigation-search-field[placeholder]:active {
  color: rgba(0, 0, 0, 1);
}

input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.navigation-search-button {
  min-height: 40px;
  margin: 0;
  margin-right: 53px;
  padding: 8px 54px 8px 56px;
  border: 2px solid #000000;
  border-left: none;
  border-radius:  0 50px 50px 0;
  background-color: #ffe17f;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

/* Navigation Menu */
.navigation-menu-container {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 700px;
  list-style-type: none;
}

.navigation-menu-item {
  margin-left: 45px;
}

.navigation-menu-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}


/* MAIN */

.main-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Slider */
.slider {
  margin-bottom: 70px;
}

.slider-image-wrap {
  width: 560px;
}

.slider-container {
  display: flex;
  justify-content: space-between;
}

.slider-content-wrap {
  width: 560px;
  padding-top: 121px;
  padding-bottom: 38px;
}

.slider-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slider-flip-list {
  width: 76px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.slider-slogan {
  display: block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 29px;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 51px;
  color: #444444;
}

.slider-spec {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-spec-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
}

.slider-spec-desc {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

/* Popular Directory */
.popular-directory {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000
}

.popular-directory-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.popular-directory-item {
  width: 160px;
}

.popular-directory-item:not(:nth-child(5n+6)) {
  margin-right: 40px;
}


/* Advatages */
.advantages {
  background-color: #f0f0f0;
}

/* Shop Information */
.info-aside-text {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.info-delivery-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.info-desc {
  font-style: normal;
}

.contacts-tel {
  font-style: normal;
  text-decoration-line: underline;
  color: #444444;
}

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


/* FOOTER */
.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-desc {
  font-size: 16px;
  line-height: 20px;
}

.footer-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-phone-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}


/* CATALOG PAGE */

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog {
  background-color: #f0f0f0;
}
