@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  min-width: 1250px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-link {
  display: block;
  padding: 10px 0;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, #ffe17f 16px, #ffe17f 24px, rgba(255, 255, 255, 0) 24px);
}

.button-link:hover {
  background: none;
  background-color: #ffe17f;
}

.button-link:active {
  background: none;
  background-color: #ffcc33;
}

.button-link:focus-visible {
  outline-offset: 0;
  outline: 2px solid #AF4FFF;
}

.button-link:disabled {
  opacity: 0.3;
}


/* HEADER */
.page-header {
  padding: 15px 60px 0;
  background: linear-gradient(180deg, #ffffff 0, #ffffff 21px, #ffe17f 21px);
}

.navigation-logo {
  display: block;
  margin-bottom: 30px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.navigation-logo:focus,
.navigation-logo:focus-visible {
  outline: 2px solid #AF4FFF;
  outline: 2px;
}

.navigation-user-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-left {
  max-width: 780px;
}

.navigation-user-right {
  max-width: 290px;
}

.navigation-user-right .navigation-user-item:not(:nth-child(odd)) {
  margin-left: 36px;
}

.navigation-search {
  display: flex;
  margin-right: 26px;
}

.navigation-search-field {
  min-height: 40px;
  width: 359px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #ffe17f;
}

.navigation-search-field:disabled {
  opacity: 0.3;
}

.navigation-search-field:focus {
  outline: none;
}

.navigation-search-field:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;
}

.navigation-search-field[placeholder] {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-search-field[placeholder]:hover,
.navigation-search-field[placeholder]:active {
  color: rgba(0, 0, 0, 1);
}

input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.navigation-search-button {
  min-height: 40px;
  margin: 0;
  padding: 8px 54px 8px 56px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: #ffe17f;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.navigation-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-search-button:focus {
  outline: none;
}

.navigation-search-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-user-link {
  position: relative;
  display: block;
  padding: 2px 0;
  color: #000000;
  line-height: 20px;
  text-decoration: none;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* active menu item */
.navigation-user-item .navigation-user-active {
  padding-bottom: 1px;
  border-bottom: 1px solid #000000;
}

.navigation-user-login {
  padding-left: 27px;
  margin-right: 28px;
}

.navigation-user-item .navigation-user-logout {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-user-login::before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 15px;
  height: 30px;
  background: url(/images/icons/login.svg) center no-repeat;
  content: '';
}

.navigation-user-compare {
  padding-left: 22px;
}

.navigation-user-compare::before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 10px;
  height: 30px;
  background: url(/images/icons/compare.svg) center no-repeat;
  content: '';
}

.navigation-user-cart {
  padding-left: 25px;
}

.navigation-user-cart::before {
  position: absolute;
  top: -2px;
  left: -3px;
  width: 16px;
  height: 30px;
  background: url(/images/icons/cart.svg) center no-repeat;
  content: '';
}

/* Navigation Menu */
.navigation-menu-container {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 700px;
  list-style-type: none;
}

.navigation-menu-item {
  margin-left: 45px;
}

.navigation-menu-link {
  padding: 4px 0;
  display: block;
  color: #000000;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-menu-link:hover {
  opacity: 0.6;
}

.navigation-menu-link:active {
  opacity: 0.3;
}

.navigation-menu-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* active menu item */
.navigation-menu-item .navigation-menu-active {
  padding-bottom: 2px;
  border-bottom: 2px solid #000000;
}

.navigation-catalog-link {
  position: relative;
  padding: 15px 70px 15px 0;
}

.navigation-catalog-link::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url(/images/icons/cross.svg) center no-repeat;
  opacity: 0.3;
  content: '';

}


/* MAIN */

.main-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Slider */
.slider {
  margin-bottom: 70px;
}

.slider-image-wrap {
  position: relative;
  width: 560px;
}

.toggle-button-wrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 211px;
  right: 0;
  width: 530px;
}

.toggle-button {
  width: 20px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.toggle-button-prev {
  background: url(/images/icons/left-tall-arrow.svg) center no-repeat;
}

.toggle-button-next {
  background: url(/images/icons/right-tall-arrow.svg) center no-repeat;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #ffe17f 0%, #ffe17f 150px, #ffffff 150px);
}

.slider-content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 121px;
  padding-bottom: 38px;
}

.slider-number {
  position: absolute;
  top: 87px;
  right: 49px;
  font-family: 'Rubik';
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.slider-slogan {
  display: block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 29px;
  z-index: 1;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 51px;
  color: #444444;
}

.slider-spec {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-spec-wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
}

.slider-spec-desc {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.slider-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slider-buttons-container .button-link {
  padding-left: 40px;
  padding-right: 40px;
}

.slider-flip-list {
  width: 76px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.slider-flip-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-flip-item .slider-flip-current {
  background-color: #000000;
}

/* Popular Directory */
.popular-directory {
  margin-bottom: 70px;
}

.popular-directory-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.popular-directory-item {
  width: 160px;
  min-height: 253px;
  background: linear-gradient(180deg, #ffe17f 0, #ffe17f 160px, #ffffff 160px);
}

.popular-directory-item:not(:nth-child(5n+6)) {
  margin-right: 40px;
}

.popular-directory-link {
  display: block;
  min-height: 60px;
  padding-top: 193px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.directory-virtual {
  background: url(/images/popular-directory/virtual.svg) no-repeat top;
}

.directory-monopod {
  background: url(/images/popular-directory/monopod.svg) no-repeat top;
}

.directory-action-camera {
  background: url(/images/popular-directory/action-camera.svg) no-repeat top;
}

.directory-fitness-watch {
  background: url(/images/popular-directory/fitness-watch.svg) no-repeat top;
}

.directory-smart-watch {
  background: url(/images/popular-directory/smart-watch.svg) no-repeat top;
}

.directory-quadracopter {
  background: url(/images/popular-directory/quadracopter.svg) no-repeat top;
}


/* Advatages */
.advantages {
  background: linear-gradient(180deg, #ffffff 0, #ffffff 102px, #f0f0f0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.advantages-container {
  display: flex;
}

.advantages-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 287px;
  margin: 0;
  padding: 64px 0 65px;
  list-style-type: none;
  border-right: 7px solid #000000;
}

.advantages-link-item:not(:last-child) {
  margin-bottom: 35px;
}

.advantages-link-item .button-link {
  width: 160px;
}

.advantages-item-current {
  background-color: #000000;
}

.advantages-link-item .advantages-link-current {
  background: none;
  background-color: #000000;
  color: #ffe17f;
}

.advantages-content {
  padding: 72.5px 63px 72.5px 116px;
  flex-grow: 1;
}

.advantages-content-delivery {
  background: url(/images/advatages/delivery-background.svg) no-repeat right 63px top 50%;
}

.advantages-title {
  width: 452px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 34px;
}

.advantages-desc {
  width: 452px;
  margin: 0;
  color: #444444
}

/* Shop Information */
.info {
  margin-bottom: 70px;
}

.info-aside {
  margin-bottom: 70px;
}

.info-aside-link {
  display: block;
  position: relative;
  padding: 40px 125px;
  background-color: #f0f0f0;
  color: #000000;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.info-aside-link::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 100px;
  background: url(/images/icons/delivery.svg) center no-repeat;
  background-color: #ffe17f;
  content: '';
}

.info-aside-link::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  height: 100px;
  background: url(/images/icons/info.svg) center no-repeat;
  content: '';
}

.info-container {
  display: grid;
  grid-template-columns: 532px 532px;
  column-gap: 96px;
}

.info-article {
  position: relative;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-article::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: '';
}

.info-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.info-desc {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.info-delivery-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.info-delivery-item {
  position: relative;
  padding-left: 37.5px;
  margin-bottom: 19px;
}

.info-delivery-item:last-child {
  margin-bottom: 0;
}

.info-delivery-item::before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffe17f;
  content: '';
}

.info-delivery-link {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.info-article .button-link {
  padding-left: 24px;
  padding-right: 24px;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-tel {
  font-style: normal;
  text-decoration-line: underline;
  color: #444444;
}

/* Newsletter */
.newsletter {
  background-color: #f0f0f0;
  padding: 64px 0 56px;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.newsletter-title {
  max-width: 400px;
  margin: 0;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-desc {
  margin: 0;
  margin-top: 10px;
  width: 552px;
  color: #444444;
}

.newsletter-form {
  display: flex;
}

.newsletter-button {
  padding: 15px 36px;
  border: 3px solid #c4c4c4;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.newsletter-button:disabled {
  opacity: 0.3;
}

.newsletter-field {
  width: 557px;
  padding: 11px 16px;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.newsletter-field[placeholder] {
  font: inherit;
  color: #444444;
}

.newsletter-form-text {
  position: relative;
  margin-left: auto;
  padding-left: 32px;
  align-self: center;
}

.newsletter-form-text::before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;
  width: 16px;
  height: 16px;
  background: url(/images/icons/tick-big.svg) center no-repeat;
  content: '';
}


/* FOOTER */
.page-footer {
  background-color: #444444;
  color: #ffffff;
  padding: 62px 0 61px;
}

.footer-container {
  display: flex;
}

.footer-address {
  position: relative;
  width: 239px;
  margin-right: 119px;
  padding-bottom: 71px;
}

.footer-address::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: '';
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-desc {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 444px;
  margin-top: 75px;
  margin-right: 183px;
}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.footer-link {
  display: block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
  gap: 15px;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-link-telegram {
  background: url(/images/social/telegram.svg) no-repeat center;
}

.social-link-youtube {
  background: url(/images/social/youtube.svg) no-repeat center;
}

.social-link-twitter {
  background: url(/images/social/twitter.svg) no-repeat center;
}

.footer-phone {
  margin-top: 78px;
}

.footer-phone-link {
  display: block;
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

.htmlacademy-link {
  display: block;
}


/* CATALOG PAGE */
.catalog-header {
  padding: 15px 60px 23px;
  background: linear-gradient(180deg, #ffffff 0, #ffffff 21px, #ffe17f 21px);
}

/* Breadcrumbs */
.header-catalog {
  padding: 35px 60px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  left: -20px;
  top: 6px;
  width: 4px;
  height: 7px;
  background: url(/images/icons/breadcrumbs.svg) no-repeat center;
  content: '';
  opacity: 0.3;
}

.breadcrumbs-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}




/* Catalog */
.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products .page-container {
  display: flex;
}

/* Filter */
.catalog-left-column {
  width: 320px;
}

.catalog-filter {
  padding: 25px 40px 60px 60px;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 12px;
  border-top: 2px solid #000000;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-group {
  width: 200px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 35px;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

/* Range */
.range {
  padding-top: 10px;
  padding-bottom: 33px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #f0f0f0;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border-color: #7F7F7F;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.range-toggle:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  position: relative;
}

.range-label {
  position: absolute;
  width: 80px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.range-label-min {
  left: -18px;
  top: 15px;
}

.range-label-max {
  right: -40px;
  top: 15px;
}

.range-input {
  max-width: 51px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Chechbox */
.control-checkbox {
  position: relative;
}

.control-checkbox .control-label {
  margin-bottom: 17.5px;
  padding-left: 36px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.control-checkbox .control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
  background: url(/images/icons/checkbox.svg) no-repeat center;
}

.control-input[type="checkbox"]:not(:checked):hover + .control-mark,
.control-input[type="checkbox"]:not(:checked):hover ~ .control-label {
  opacity: 0.6;
}

.control-input[type="checkbox"]:not(:checked):active + .control-mark,
.control-input[type="checkbox"]:not(:checked):active ~ .control-label {
  opacity: 0.3;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled ~ .control-label,
.control-input[type="checkbox"]:hover:disabled + .control-mark,
.control-input[type="checkbox"]:hover:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* Radio */
.control-radio {
  position: relative;
}

.control-radio .control-label {
  margin-bottom: 20px;
  padding-left: 36px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.control-radio .control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:not(:checked):hover + .control-mark,
.control-input[type="radio"]:not(:checked):hover ~ .control-label {
  opacity: 0.6;
}

.control-input[type="radio"]:not(:checked):active + .control-mark,
.control-input[type="radio"]:not(:checked):active ~ .control-label {
  opacity: 0.3;
}

.control-input[type="radio"]:disabled + .control-mark,
.control-input[type="radio"]:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.filter-button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 0;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 16px, #ffe17f 16px, #ffe17f 24px, rgba(255, 255, 255, 0) 24px);
  border: none;
}

.filter-button:hover {
  background: none;
  background-color: #ffe17f;
}

.filter-button:active {
  background: none;
  background-color: #ffcc33;
}

.filter-button:focus-visible {
  outline-offset: 0;
  outline: 2px solid #AF4FFF;
}

.filter-button:disabled {
  opacity: 0.3;
}

/* Sorting */
.sorting-wrap {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.sorting-title {
  margin-right: 206px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting {
  position: relative;
  display: flex;
  align-items: center;
}

/* Control */
.select-control {
  width: 100%;
  padding-right: 32px;
  font: inherit;
  background-color: transparent;
  background-image: url("/images/icons/arrow-sorting.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  border: none;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Products */
.products-pagination-container {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.products {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
}

.product-image {
  display: block;
  margin-bottom: 32px;
}

.product-text-wrap {
  display: flex;
  justify-content: space-between;
}

.product-title {
  margin: 0;
  padding: 0;
  width: 230px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-price {
  display: block;
  width: 100px;
  line-height: 21px;
  text-align: right;
}

/* Pagination */

.pagination-show-more {
  width: 100%;
  padding: 18px 0;
  border: 3px solid #e5e5e5;
  background: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 44px;
}

.pagination-show-more:hover {
  border-color: #000000;
}

.pagination-show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-show-more:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination-list {
  max-width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-prev,
.pagination-next {
  display: block;
  padding: 25px;
  color: #000000;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-pagination {
  display: block;
  width: 40px;
  padding: 10px 0;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
  text-decoration: none;
}
